#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.articleContainer{
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
}
.featuredCarousel{
  top: 2vh;
  text-align:center;
}
