#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.articleContainer{
  display: inline-flex;
  flex-wrap:wrap;
  gap: 20px;
  width: 900px;
}
.featuredCarousel{
  top: 2vh;
  text-align:center;
}
.carouselItems{
  height:200px;
}
h3{
  padding:20px;
}