#root {
  text-align: center;
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.articleContainer{
  display: inline-flex;
  flex-wrap:wrap;
  gap: 20px;
  width: 900px;
}
.featuredCarousel{
  top: 2vh;
  text-align:center;
}
.carouselItems{
  height:200px;
}
.quoteCaption, h1{
  font-family: "Bricolage Grotesque", serif;
}
h3{
  padding:20px;
}
.supportPage{
  display:flex;
  flex-direction:column;
  place-items:center;
  
}

.donationOptions{
  display:flex;
  align-items:center;
  gap:15px;
}
#otherAmount{
  width: 50px;
}